@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
*{
    font-family: 'Mulish';
    padding: 0;
    margin: 0;
    user-select: none;
}

/* Scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
    transition: 0.7s;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #5daa86;
    border-radius: 25px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #456e5b;
    transition: 0.6s;
  }
















/* Top*/

.sektion1{
    background: url(nicehead.svg);
    height: 100vh;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 42%;
    
}
.sektion1 #logo{
    margin-left: 1.4%;
    margin-top: 1.65%;
    float: left;
}
.sektion1 #sign{
    float: left;    
    margin-top: 1.95%;
    width: 8%;
    height: 4.7vh;
    background: #95f9cb;
    border: none;
    font-weight: bolder;
    font-size: 1vw;
    border-radius: 25px;
    position: relative;
    transition: box-shadow 0.6s;
    color: white;
    margin-left: 1%;
}
.sektion1 #sign:focus{
    outline: none;
    box-shadow: 0px 2px 12px #a3a3a3;
}
.sektion1 #sign:hover{
    box-shadow: 0px 2px 12px #868686;
}
.sektion1 #menu{
    float: right;
}
.sektion1 #upperh1{
    float: left;
    margin-top: 16%;
    font-size: 6vw;
    position: absolute;
    margin-left: 7%;
    background: rgb(149,248,211);
background: linear-gradient(180deg, rgba(149,248,211,1) 0%, rgba(151,254,164,1) 63%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sektion1 #lowerh1{
    float: left;
    margin-top: 23%;
    position: absolute;
    font-size: 3vw;
    margin-left: 19%;
    background: rgb(149,248,211);
background: linear-gradient(180deg, rgba(149,248,211,1) 0%, rgba(151,254,164,1) 9%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




/* Sektion 2*/



.sektion2{
    height: 100vh;
    text-align: center;
}
.sektion2 #overskrift{
    font-size: 76px;
    background: rgb(149,248,211);
background: linear-gradient(360deg, rgba(149,248,211,1) 0%, rgba(151,254,164,1) 9%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sektion2 .card{
    margin-top: 5%;
    width: 20%;
    overflow: hidden;
    margin-left: 10%;
    float: left;
    background-color: rgb(116, 116, 116);
    height: 60vh;
    border-radius: 45px;
}
.sektion2 .card .cardupconta img{
    width: 105%;
    margin-right: 50%;
}



